<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>GymMembershipManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackagesServlet</display-name>
    <servlet-name>PackagesServlet</servlet-name>
    <servlet-class>com.packages.PackagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackagesServlet</servlet-name>
    <url-pattern>/PackagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackageSearchServlet</display-name>
    <servlet-name>PackageSearchServlet</servlet-name>
    <servlet-class>com.packages.PackageSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageSearchServlet</servlet-name>
    <url-pattern>/PackageSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyPackageServlet</display-name>
    <servlet-name>BuyPackageServlet</servlet-name>
    <servlet-class>com.packages.BuyPackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyPackageServlet</servlet-name>
    <url-pattern>/BuyPackageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnsubscribePackagesServlet</display-name>
    <servlet-name>UnsubscribePackagesServlet</servlet-name>
    <servlet-class>com.packages.UnsubscribePackagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsubscribePackagesServlet</servlet-name>
    <url-pattern>/UnsubscribePackagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribedPackagesServlet</display-name>
    <servlet-name>SubscribedPackagesServlet</servlet-name>
    <servlet-class>com.packages.SubscribedPackagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribedPackagesServlet</servlet-name>
    <url-pattern>/SubscribedPackagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUnsubscribePackagesServlet</display-name>
    <servlet-name>CheckUnsubscribePackagesServlet</servlet-name>
    <servlet-class>com.packages.CheckUnsubscribePackagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUnsubscribePackagesServlet</servlet-name>
    <url-pattern>/CheckUnsubscribePackagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackageRegisterServlet</display-name>
    <servlet-name>PackageRegisterServlet</servlet-name>
    <servlet-class>com.packages.PackageRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageRegisterServlet</servlet-name>
    <url-pattern>/PackageRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPackageServlet</display-name>
    <servlet-name>EditPackageServlet</servlet-name>
    <servlet-class>com.packages.EditPackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPackageServlet</servlet-name>
    <url-pattern>/EditPackageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPackageInfoServlet</display-name>
    <servlet-name>GetPackageInfoServlet</servlet-name>
    <servlet-class>com.packages.GetPackageInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPackageInfoServlet</servlet-name>
    <url-pattern>/GetPackageInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePackageServlet</display-name>
    <servlet-name>DeletePackageServlet</servlet-name>
    <servlet-class>com.packages.DeletePackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePackageServlet</servlet-name>
    <url-pattern>/DeletePackageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.users.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsersServlet</display-name>
    <servlet-name>DeleteUsersServlet</servlet-name>
    <servlet-class>com.users.DeleteUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsersServlet</servlet-name>
    <url-pattern>/DeleteUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersSearchServlet</display-name>
    <servlet-name>UsersSearchServlet</servlet-name>
    <servlet-class>com.users.UsersSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersSearchServlet</servlet-name>
    <url-pattern>/UsersSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.users.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>com.users.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter1</display-name>
    <filter-name>LoginFilter1</filter-name>
    <filter-class>com.login.LoginFilter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter1</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PasswordValidatorFilter</display-name>
    <filter-name>PasswordValidatorFilter</filter-name>
    <filter-class>com.register.PasswordValidatorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordValidatorFilter</filter-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PasswordFilter</display-name>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>com.users.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/UpdateProfileServlet.java</url-pattern>
  </filter-mapping>
</web-app>